.Grid {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  &::after{
    pointer-events: none;
    z-index: 0;
    content: "";
    position: absolute;
    width: 100vmin;
    height: 100vmin;
    background-image: linear-gradient(45deg, black 25%, transparent 25%),
      linear-gradient(-45deg, black 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, black 75%),
      linear-gradient(-45deg, transparent 75%, black 75%);
    background-size: 1% 1%;
    background-position: 0 0, 0 0.5%, 0.5% -0.5%, -0.5% 0px;
    background-color: white;
  }

  .row {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    z-index: 10;
  }
  .col {
    border: 1px solid black;
    flex-grow: 1;
  }
  .col.uncertain {
    opacity: 0.8;
  }
  .col.black {
    background-color: black;
  }
  .col.unknown {
    border: 1px solid white;
  }
  .col.white {
    background-color: white;
  }
}
